.title {
  text-align: center;
  font-size: 4rem;
}

.subtitle {
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
}

.address {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 500;
}

a {
  text-decoration: none;
}
